body {
    background-color: rgb(25, 194, 216);
    background-image:url("imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
h1 {
    color: blue;
}
font {
    color: #00ff22;
}
button
{
padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(43, 32, 20);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {background-color: #f00626}

button:active {
  background-color: #8e3e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}