body {
    background-color :black;
    background-image:url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.div1{
    height: 100% ;
    width: 100%;
}
table{
    position: relative;
    height: 200px ;
    width: 200px;
    margin-left: 0px;
    margin-right:0px; 
    padding-right: 650px;
    align-self: center;
    border-spacing: 0px;
}
tr{
    /* padding: 0px; margin: 0px; */
text-align:center; 
    vertical-align:center;
    align-content: center;
    align-items: center;
    align-self: center;
}
 td
{
      
    padding: 0px; margin:0px;
    /* text-align:center;  */
    vertical-align:center;
    align-content: center;
    align-items: center;
    align-self: center;
    
    width:200px;
    height: 200px; 
} 
.imgs{

background-image: url("green.png")
} 


font {
    color: #00ff22;
}
button
{
padding: 15px 25px;
  font-size: 29px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(43, 32, 20);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {background-color: #f00626}

button:active {
  background-color: #8e3e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 img{
    display: block;
    height: 200px;
    width: 200px;
   
} 
 div{
 align-self: center;
    } 
#exit{

 text-align:left; 

}
#points{
    text-align:right; 
}
