body {
    background-image: url("bg/(1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* level points */

#div1 {
    height: 20%;
}

#div2 {
    height: 80%;
}

#table1 {
    width: 100%;
    align-self: center;
}

#table2 {
    align-content: center;
}

#tableImg {
    position: relative;
    left: 25%;
    width: 50%;
    align-self: center;
}

button {
    padding: 15px 25px;
    font-size: 29px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(43, 32, 20);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #f00626
}

button:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

img {
    display: block;
    height: 200px;
    width: 200px;
}

#exit {
    position: fixed;
    bottom: 0;
    left: 0;
}

#points {
    text-align: right;
}


/* padges */

#perfect_pag{
    position: relative;
    width: 100px;
    height: 100px;
}