body {
    background-image: url("bg/(1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

font {
    font-family: fantasy;
    font-style: italic;
    font-size: 25px;
}


/* level points */

#div1 {}

#top {
    position: absolute;
    bottom: 0px;
    height: 5%;
    width: 100%;
    position: relative;
    left: 0%;
}

#div2 {
    height: 50%;
    width: 100%;
    align-self: center;
}

#table1 {
    height: 5px;
    width: 100%;
}

#table2 {
    align-content: center;
}

#tableImg {
    position: relative;
    left: 25%;
    width: 50%;
    align-self: center;
}

#result_table {
    position: relative;
}

#levelcomimg {
    height: 200px;
    width: 300px;
    position: relative;
    left: 50%;
    width: 50%;
    align-self: center;
    align-items: center;
}

.score {
    height: 300px;
    width: 1000px;
    position: relative;
    left: 25%;
    width: 50%;
    align-self: center;
    align-items: center;
}

#levelcomimg {
    height: 300px;
    width: 1000px;
    position: relative;
    left: 25%;
    width: 50%;
    align-self: center;
    align-items: center;
}

#img_comp {
    height: 200px;
    width: 1000px;
    position: relative;
    left: 25%;
    width: 50%;
    align-self: center;
    align-items: center;
}

#scoreOut {
    position: relative;
    height: 300px;
    width: 300px;
    position: relative;
    left: 45%;
    width: 50%;
    bottom: 50px;
    align-self: center;
    align-items: center;
}

#bestOut {
    position: relative;
    height: 300px;
    width: 300px;
    position: relative;
    left: 45%;
    width: 50%;
    bottom: 300px;
    align-self: center;
    align-items: center;
}

#hearts {
    vertical-align: 0px;
    width: 200px;
    height: 70px;
}

#heartImg {
    width: 200px;
    height: 70px;
}

.padge {
    width: 50px;
    height: 50px;
}

#padge1 {}

#padge1 button {
    padding: 15px 25px;
    font-size: 29px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(43, 32, 20);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #f00626
}

button:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

img {
    display: block;
    height: 200px;
    width: 200px;
}

#exit {
    position: relative;
    bottom: 0;
    left: 0;
}

#points {
    text-align: right;
}


/* padges */

#perfect_pag {
    position: relative;
    width: 100px;
    height: 100px;
}

.result {
    /*display: none;*/
}